In [1]:
import pandas as pd


data = pd.read_csv('ClimateSmart_Data_Cleaned.csv')

In [31]:
# Print the range of hardiness zones, Both Hardiness Zone Low and Hardiness Zone High

print("Hardiness Zones Range:", hardiness_zones.min(), "to", hardiness_zones.max())
# Print hardiness zones above 13
hardiness_above_13 = data[data['Hardiness Zone High'] > 13]
# Print all rows where Hardiness Zone Low is above 13

# Write to a csv the hardiness zone ranges for each state
hardiness_ranges = data.groupby('State')
hardiness_ranges = hardiness_ranges.agg({
    'Hardiness Zone Low': 'min',
    'Hardiness Zone High': 'max'
}).reset_index()
hardiness_ranges

Hardiness Zones Range: 6 to 19

   State  Hardiness Zone Low  Hardiness Zone High
0     CT                   1                   12
1     DE                   2                   12
2     KY                   1                   12
3     MA                   1                   12
4     MD                   2                   12
5     ME                   1                   12
6     NH                   1                   12
7     NJ                   1                   12
8     NY                   1                   12
9     OH                   1                   12
10    PA                   1                   12
11    RI                   1                   12
12    VA                   2                   12
13    VT                   1                   12
14    WV                   1                   12